<div class="row">
    <div class="col-2">
        <img src="/img/logo_app.jpg" alt="logo" routerLink="/categories" width="60px" height="60px">
    </div>
    <div class="col-10 text-end align-content-center">
        @for(language of languages; track language){
            <img [src]="'/img/flags/' + language + '.png'" [alt]="language" width="32px" height="32px" class="me-2" (click)="changeLang(language)">
        }
        <mat-icon aria-hidden="false" [matBadge]="numProductsSignal()" aria-label="Shopping cart" fontIcon="shopping_cart" routerLink="/pay-order"></mat-icon>
    </div>
</div>