<div class="row">
    <div class="col-12">

        <div class="row">
            @if(categories$ | async; as categories){
                @for(category of categories; track category._id){
                    <div class="col-lg-2 col-md-4 col-6">
                        <mat-card class="bg-white text-center h-100" appearance="outlined" [routerLink]="['/products', category._id]">
                            <img mat-card-image class="p-1" [src]="'/img/products/' + category.img"  
                            [alt]="category.name | translate">
                            <mat-card-content>
                              <p>
                                {{category.name | translate}}
                              </p>
                            </mat-card-content>
                          </mat-card>
                    </div>
                }
            }
        </div>

    </div>
</div>